<h1>Managed Content Type</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  {{#each records}}
    <tr>
      <td>{{get 'id'}}</td>
      <td>{{get 'Name'}}</td>
    </tr>
  {{/each}}
</table>
