<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://www.herokucdn.com/purple3/latest/purple3.min.css">
</head>

<body>
    <script type="text/javascript" src="./client.js"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CMS Connect</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <script type="text/template" id="job-template">
    <div class="flex flex-column ma2">
      <div class="flex justify-between mb2">
        <div class='mt2 mb1'><span class="hk-label">Job ID:</span> {{id}}</div>
        <div class='mt2 mb1'><span class="hk-label">State:</span> {{state}}</div>
      </div>
      <div class="w-100 br1 shadow-inner-1 bg-light-silver">
        <span class="db h1 br1 {{color}}" style="width: {{progress}}%;"></span>
      </div>
    </div>
  </script>
        {{#if jobs}}
        <ul class="list-group">
            {{#each jobs}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
        </ul>
        <div class="main-content flex flex-column justify-center items-center w-100 mt4">
            <div class='br2 flex flex-column items-center pv3'>
                <div class='f1 mt2 mb1'>Create long-running jobs demo</div>
                <div class='flex mt2'>
                    <a href='#' id="add-job" class='f2 link purple ph2 pv1 ba b--purple br1 mr4'>Add Job</a>
                    <a href='#' id="clear" class='f2 link purple ph2 pv1 ba b--purple br1'>Clear</a>
                </div>
            </div>
            <div id="job-summary" class="w-80 f3"></div>
            <div class="h6 flex flex-column justify-end">
                <div class="shadow-3 pa4 tc f3">
                    <span class="hk-label">Tip:</span> Jobs not running? Be sure to run <code
                        class="pre">heroku ps:scale worker=1</code>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
